.hollow {
    margin-top: .02rem
}

.logo {
    font-size: .34rem;
    line-height: .7rem
}

#ticketHis_count {
    color: #dd403b;
    font-weight: 900
}

#dayTips {
    color: #999
}

#ticket_count {
    color: #dd403b
}
.indentOut {
    margin: .24rem
}
